@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Deva:wght@100..800&display=swap');

:root {
    --primary: rgb(100, 37, 113);
    --secondary: rgba(255, 0, 0, 0.015);
    --anceint: rgba(255, 255, 0, 0.14);

}

body {
    font-family: "Playpen Sans Deva", cursive;
}

.container {
    width: 86%;
    margin: auto;


}
